.contact-method {
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    background-color: rgb(49, 49, 49);
    padding-right: 20px;
    border-radius: 10px;
    scale: 1vw;
    display: flex;
}

.contact-method * {
    margin-left: 20px;
}

#contact-page {
    display: flex;
}

#contact-page a {
    color: lightblue;
}

#contact-page a:hover {
    color:rgb(83, 184, 218);
}

@media (max-width: 1000px) {
    #contact-page {
        display: block;
    }
    .contact-method {
        justify-content: left;
    }
}