body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #f4f4f4;*/
}

main {
  padding: 20px;
}

#projects {
  max-width: 80vw;
  margin: 0 auto;
}

.project {
  margin-bottom: 20px;
  overflow: hidden;
}

.project-title {
  margin: 0;
  padding: 15px;
  font-size: 1.5em;
  background: #016d5b;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s, font-size 0.3s;
}

.project-title:hover {
  background: #01493d;
  font-size: 1.6em;
}

.project-details {
  padding: 0 15px;
  height: 0; /* Start hidden */
  overflow: hidden; /* Prevent content from spilling out */
  background: #222222;
  transition: height 0.3s ease, padding 0.3s ease;
  color: rgb(247, 238, 221);
}

a {
  color: #4fff6c;
}

a:hover {
  color: #2db343;
}

.subtitle {
  font-size: 0.8em; /* Make it smaller */
  color: lightgray;
  margin-left: 10px; /* Add some space between the main title and subtitle */
}

.difficulty {
  font-size: 0.8em;
}

.advanced {
  color: rgb(177, 21, 47);
}

.intermediate {
  color: yellow;
}

.simple {
  color: rgb(31, 66, 8);
}

main {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}