html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #222222;
    color: rgb(247, 238, 221)
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 10;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: gold
}

main {
    min-height: calc(100vh - 200px - 134px);
}

footer {
    background: #333;
    color: #fff;
    margin: 0;
    padding: 0px;
    height: 200px;
    text-align: center;
    z-index: 10;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.footer-sections {
    margin-top: 10px;
    word-spacing: 50px;
}

.footer-sections a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-sections a:hover {
    color: gold
}

.contact-info {
    word-spacing: 10px;
}

.contact-info a {
    color: lightblue;
}

.contact-info a:hover {
    color: teal;
}

#inspire {
    color: lightblue;
}

#inspire:hover {
    color: teal;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: -5px;
    margin-bottom: -40px;
}

.thank-you {
    text-align: center;
    font-style: italic;
    margin-bottom: -5px;
}

main {
    padding: 20px;
}

.flashy {
    transition: all 0.3s ease;
}

.flashy:hover {
    color: rgb(0, 255, 187);
    /*color: #ff6347;*/
    transform:scale(1.1);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    animation: shake 1s ease forwards;
}

@keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

#code-container {
    background-color: #222222;
    margin: -20px;
    width: 150%;
    position: relative;
    padding: 10px;
    min-height: calc(100vh - 200px - 100px);
    color: white;
    white-space: pre-wrap;
    font-size: 20px;
}

@media (max-width: 500px) {
    .footer-sections {
        word-spacing: 5vw;
    }

    #code-container {
        font-size: 5px;
    }
}

textarea {
    background-color: rgb(145, 145, 145);
    border-color: rgb(140, 140, 140);
}

input {
    background-color: rgb(145, 145, 145);
    border-color: rgb(140, 140, 140);
}