<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1 style="position: relative; left: 10px;">Josef Wolf</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/skills">Skills</a>
            <a href="/projects">Projects</a>
            <a href="/education">Education</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <div style="display: flex; align-items:top; background-color: #ffb53e; margin-bottom: 20px; margin-left: -10vw; margin-right: -10vw; overflow: hidden;">
            <img src="/../static/pictures/thinker.jpg" style="transform: scale(0.8); margin-left: -25vw; margin-top: -35vw; margin-bottom: -40vw; width: 100vw; clip-path: inset(0 0 30% 0); clip-path: circle(35vw at 45vw 70vw); object-fit: cover;"/>
            <div style="display: flex; flex-direction: column">    
                <p style="transform: scale(0.8); font-family: 'Montserrat'; font-size: 10vw; margin-bottom: -10vw; position: relative; left: -15vw;" class="flashy">Think.</p>
                <p style="transform: scale(0.8); font-family: 'Montserrat'; font-size: 10vw; margin-bottom: -10vw; position: relative; left: -15vw;" class="flashy">Create.</p>
                <p style="transform: scale(0.8); font-family: 'Montserrat'; font-size: 10vw; margin-bottom: -50vw; position: relative; left: -15vw;" class="flashy">Do.</p>
            </div>
        </div>
    </main>
    <footer style="margin-left: -10vw; margin-right: -10vw;">
        <div class="footer-container">
            <!-- Footer Sections Links -->
            <div class="footer-sections">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/skills">Skills</a>
                <a href="/projects">Projects</a>
                <a href="/education">Education</a>
                <a href="/contact">Contact</a>
            </div>
            
            <!-- Contact Information -->
            <div class="contact-info">
                <a href="https://www.linkedin.com/in/josef-j-wolf" target="_blank">LinkedIn</a>
            </div>
            
            <!-- Name -->
            <div class="name">
                <p>Josef Wolf</p>
            </div>
            
            <!-- Thank You Message -->
            <div class="thank-you">
                <p>Thank you for visiting my website!</p>
            </div>
        </div>
    </footer>        
</body>
</html>
